/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body{
	background-color: rgba(165,238,237,0.41) !important;
	margin: 0px;
}

#content-container {
	position: relative;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto;
	grid-template-columns: auto;
	-ms-grid-rows: auto auto;
	grid-template-rows: max-content auto;
	margin: 0px 8px;
}

#header {
	height: auto;
}

h1{
	text-align: center;
	font-family: "Press Start 2P", cursive;
}

h2{
	text-decoration: underline;
	font-family: 'Little Miss Loudonbold';
}

p{
	font-family: 'Space Mono', monospace;
}

#wrapper{
	margin: 0px 8px;
}
