/*body{
	background-color: rgba(165,238,237,0.41) !important;
}
.dropdown{
	position: relative;
	display: block;
}
.dropbtn{
	background-color: rgba(152,7,235,.82);
	padding: 16px;
	border: none;
	cursor: pointer;
	box-shadow: 3px 7px 8px 4px rgba(0,0,0,0.3);
	color: white;
	font-family: 'Changa One', cursive;
}

.dropdown-content{
	display: none;
	position: relative;
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content p{
	color: black;
	padding: 12px 16px;
	display: block;
}

.show {
	display: block;
}*/

body{
	background-color: rgba(165,238,237,0.41) !important;
}
.dropdown{
	position: relative;
	display: block;
}
.dropbtn{
	background-color: rgba(152,7,235,.82);
	padding: 16px;
	border: none;
	cursor: pointer;
	-webkit-box-shadow: 3px 7px 8px 4px rgba(0,0,0,0.3);
	        box-shadow: 3px 7px 8px 4px rgba(0,0,0,0.3);
	color: white;
	font-family: 'Changa One', cursive;
}

.dropdown-content{
	display: none;
	position: relative;
	background-color: #f1f1f1;
	-webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content p{
	color: black;
	padding: 12px 16px;
	display: block;
	font-family: 'Roboto', sans-serif;
}

.show {
	display: block;
}