/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body{
	margin: 0;
	height: 100vh;
	width: 100vw;
	font-size: 100%;
}

#wrapper{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#header-container{
	width: 100%;
	height: 15%;
	background: rgba(165, 238, 190, 1);
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
#header-content{
	position: relative;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}
#typewriter{
	color: white;
	font-family: "Press Start 2P", cursive;
	text-align: center;
	margin: 0;
}

#content-container{
	width: 100%;
	height: 70%;
	position: relative;
	background: rgba(165,238,237,0.41);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

#footer-container{
	width: 100%;
	height: 15%;
}
#footer-content{
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	position: relative;
}
.footer-btns{
	opacity: 0.75;
	-webkit-transition: opacity 1s, -webkit-transform 1.12s;
	transition: opacity 1s, -webkit-transform 1.12s;
	-o-transition: transform 1.12s, opacity 1s;
	transition: transform 1.12s, opacity 1s;
	transition: transform 1.12s, opacity 1s, -webkit-transform 1.12s;
	font-family: 'Little Miss Loudonbold';
	font-size: 1.1rem;
}
.footer-btns:hover{
	-webkit-transform: scale(1.2,1.2);
	    -ms-transform: scale(1.2,1.2);
	        transform: scale(1.2,1.2);
	opacity: 1.0;
}
.btn-text{
	margin: 0;
	vertical-align: middle;
}
#resume-btn{
	position: relative;
	width: 16.6%;
	height: 100%;
	background: rgba(255,13,251,1);
}
#classes-btn{
	position: relative;
	width: 16.7%;
	height: 100%;
	background: rgba(152,7,235,.92);
}
#github-btn{
	position: relative;
	width: 16.7%;
	height: 100%;
	background: rgba(69,0,255,1);
}
#linkedin-btn{
	position: relative;
	width: 16.7%;
	height: 100%;
	background: rgba(30,51,235,.92);
}
#about-btn{
	position: relative;
	width: 16.7%;
	height: 100%;
	background: rgba(23,130,255,1);
}
#quotes-btn{
	position: relative;
	width: 16.6%;
	height: 100%;
	background: rgba(0,180,255,1);
}
span{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}
h3{
	text-align: center;
	color: white;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

@media screen and (min-width: 481px) and (max-width: 768px){
	#resume-btn{
		width: 33.33%;
		height: 50%;
	}
	#classes-btn{
		width: 33.34%;
		height: 50%;
	}
	#github-btn{
		width: 33.33%;
		height: 50%;
	}
	#linkedin-btn{
		width: 33.33%;
		height: 50%;
	}
	#about-btn{
		width: 33.34%;
		height: 50%;
	}
	#quotes-btn{
		width: 33.33%;
		height: 50%;
	}
}

@media screen and (max-width: 480px){
	#resume-btn{
		width: 50%;
		height: 33.33%;
	}
	#classes-btn{
		width: 50%;
		height: 33.34%;
	}
	#github-btn{
		width: 50%;
		height: 33.33%;
	}
	#linkedin-btn{
		width: 50%;
		height: 33.34%;
	}
	#about-btn{
		width: 50%;
		height: 33.33%;
	}
	#quotes-btn{
		width: 50%;
		height: 33.34%;
	}
}