/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body{
	background-color: rgba(165,238,237,0.41) !important;
	margin: 0;
	height: 100vh;
}
#body-wrapper{
	width: 100%;
	height: 100%;
	position: relative;
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: auto;
	grid-template-columns: auto;
	-ms-grid-rows: auto 5.25rem;
	grid-template-rows: auto 5.25rem;
}
#body-wrapper > *:nth-child(1){
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
#body-wrapper > *:nth-child(2){
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}
#quote-all-container{
	position: relative;
	height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}
#quote-wrapper{
	height: 60%;
	width: 50%;
	min-width: 170px;
	min-height: 300px;
}

#button-container{
	width: 100%;
	height: 20%;
}
#random-btn{
	width: 85%;
	height: 50%;
	max-width: 300px;
	background: rgba(0,180,255,1);
	-webkit-box-shadow: 3px 7px 8px 4px rgba(0,0,0,0.3);
	        box-shadow: 3px 7px 8px 4px rgba(0,0,0,0.3);
	margin: 0 auto;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	overflow: hidden;
}
#random-btn:hover{
	cursor: pointer;
}
#random-btn-text{
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	margin: 0;
	color: white;
	text-align: center;
	font-family: 'Little Miss Loudonbold';
	font-size: 1.15em;
}
#content-container{
	width: 100%;
	height: 80%;
}
#quote-container{
	height: 100%;
	width: 100%;
}
#quote-text{
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
	font-family: 'EB Garamond', serif;
	font-size: 1.25rem;
}
#quote-author{
	text-align: right;
	-webkit-transition: opacity 1.3s;
	-o-transition: opacity 1.3s;
	transition: opacity 1.3s;
	margin-right: 5px;
	font-family: 'EB Garamond', serif;
	font-style: italic;
}

footer{
	width: 100%;
	position: relative;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 1px solid black;
	height: 5.25rem;
	background-color: rgba(35,35,35,1.0);
	font-size: 1.5rem;
}
#dialogue-container{
	color:white;
	width: 7em;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	border: 3px solid white;
	border-radius: 10px;
	padding: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-family: 'Little Miss Loudonbold';
}
#home-link{
	color: inherit;
	text-decoration: none;
}
#home-link:hover{
	color: rgba(210,210,210,1.0);
}