body{
	/*margin: 0;
	width: 100vw;
	height: 100vh;*/
	background: rgba(255,13,251,0.24);
}
#content-container{
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
	/*border: 1px solid black;*/
}
h2{
	border-bottom: 1px solid black
}