@font-face {
    font-family: 'Little Miss Loudonbold';
    src: url('littlemissloudonbold-vgo9l-webfont.woff2') format('woff2'),
         url('littlemissloudonbold-vgo9l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}